{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block content %}
<div class="container-fluid">
    <div class="col-12 text-center fs-1 bolder mb-4 text-secondary">Lokichogio Health Center</div>
    <div class="row align-items-center justify-content-center">
        <div class="col-6">
            <img src="{% static 'img/logichogio_logo.jpeg' %} " class="img-fluid" alt="placeholder image"/>
        </div>
        <div class="col-5">
              <div class="fs-2 text-center bold text-secondary">Login</div>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <div class="row justify-content-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary form-control">Login</button>
                    </div>
                </div>
                {% endbuttons %}
            </form>
            {% comment %}
                <div class="text-center">
                    <a href="{% url 'account_reset_password' %}" class="text-decoration-none fs-5">Forgot Password?</a>
                </div>
            {% endcomment %}
            <div class="text-center">
                <p class="fs-5 p-2">Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p>
            </div>
        </div>
  </div>

</div>   
{% endblock %}
