[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
install = "*"
django-bootstrap-v5 = "*"
django-model-utils = "*"
django-simple-history = "*"
django-environ = "*"
psycopg2-binary = "*"
django-settings-export = "*"
algoliasearch = "*"
algoliasearch-django = "*"
django-nativeshortuuidfield = "*"
shortuuid = "*"
django-grappelli = "*"
django-tables2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
