<style>
    #hits ol > li{
        margin-top: 0.5rem;
    }
</style>
{% verbatim %}
<script type="text/html" id="patients" class="">
    <div class="row justify-content-end">
        <div class="col-3">
            <div class="fs-6">{{patient_id_number}}</div>
        </div>
        <div class="col-3">
            <div class="fs-6">{{first_name}}</div>
        </div>
        <div class="col-3">
            <div class="fs-6">{{last_name}}</div>
        </div>
        <div class="col-3">
            <div class="fs-6">
                {{#is_doctor}}
                    <a href="/records/doctor-consultation/{{uuid}}" class="btn btn-primary mx-2">Update</a>
                {{/is_doctor}}
                {{#is_lab_technician}}
                    <a href="/records/lab-test/{{uuid}}" class="btn btn-secondary mx-2">Update</a>
                {{/is_lab_technician}}
            </div>
        </div>

    </div>
 </script>
{% endverbatim %}