<script>
   const searchClient = algoliasearch('{{ settings.ALGOLIA_APPLICATION_ID }}', '{{ settings.ALGOLIA_PUBLIC_KEY }}');
        const search = instantsearch({
        indexName: 'Patient_{{ settings.ALGOLIA_SUFFIX }}',
        searchClient,
        routing: true
    });

  search.addWidgets([
    instantsearch.widgets.configure({
      hitsPerPage: 10,
    }),
  ])
  
  search.addWidgets([
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: 'Search for patients',
    }),
  ])

  var hitTemplate = document.getElementById('patients').innerHTML;
  
  search.addWidgets([
    instantsearch.widgets.hits({
      container: '#hits',
      templates: {
        item: hitTemplate,
        empty: "No matching patients found"
      },
    }),
  ])

  // refinement list
  search.addWidgets([
  instantsearch.widgets.refinementList({
    container: '#age-refinement-list',
    attribute: 'age',
  }),
  ]);


  search.addWidgets([
    instantsearch.widgets.pagination({
      container: '#pagination',
    }),
  ])


  
  search.start()
  
</script>