
<div class="row">
    <div class="col-12 mb-3">
        <h3>Patients</h3>
    </div>
    <div class="mb-2">
        <div class="row justify-content-end px-3">
            <div class="col-9 mx-2">
                <div id="search-box"></div>
            </div>
        </div>   
    </div>
    <div class="row mb-2">
        <div class="col-3">
            <div id="refinement">
                <div id="refinement-list"></div>
            </div>
        </div>
        <div class="col-9">
            <div id="hits"></div>
        </div>
    </div>
    <div class="mb-2">
        <div id="pagination"></div>
    </div>
</div>    
