{% extends 'desktop_base.html' %}
{% block content %}
    <div class="p-3">
        <div class="col-md-12">
            <h3>Hi {{ user.username }}!</h3>
        </div>
        <div class="row py-3">
            <div class="col-4 mb-1" style="">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Patients Pending Lab Tests</h5>
                        <div class="row">
                            {% for patient in patients_pending_lab_tests %}
                                <div class="col-12">
                                    <a href="{% url 'patient_test_result_update' patient_uuid=patient.uuid %}" class="nav-link text-primary text-decoration-none">
                                        <div class="card-text text-center fs-6">
                                            {{patient.first_name}}
                                            {{patient.last_name}}
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'pending_lab_test_list' %}" class="btn btn-primary form-control">Show All</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Patients Pending Treatment</h5>
                        <div class="row">
                            {% for patient in patients_pending_treatment %}
                                <div class="col-12">
                                    <a href="{% url 'patient_test_result_update' patient_uuid=patient.uuid %}" class="nav-link text-primary text-decoration-none">
                                        <div class="card-text text-center fs-6">
                                            {{patient.first_name}}
                                            {{patient.last_name}}
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'pending_treatment_list' %}" class="btn btn-primary form-control">Show All</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Patients</h5>
                        <p class="card-text">View all patients</p>
                        <a href="{% url 'patient_list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Patients</h5>
                        <p class="card-text">View all patients</p>
                        <a href="{% url 'patient_list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Patients</h5>
                        <p class="card-text">View all patients</p>
                        <a href="{% url 'patient_list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Patients</h5>
                        <p class="card-text">View all patients</p>
                        <a href="{% url 'patient_list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
        
    </div>
{% endblock %}
