<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height:100vh">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5"><small>Hey {{ user.full_name }}!</small></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{% url 'dashboard' %}" class="nav-link text-white">
          <i class="fa-solid fa-house-user text-light mx-1"></i>
          Dashboard
        </a>
      </li>
      {% if not user.is_cashier  %}
          <li>
            <a href="{% url 'patient_list' %}" class="nav-link text-white">
              <i class="fa-solid fa-users text-light mx-1"></i>
                Patients
            </a>
          </li>
      {% endif %}
      {%  if  user.is_staff or user.is_cashier %}
          <li>
            <a href="{% url 'patient_register' %}" class="nav-link text-white">
              <i class="fa-solid fa-users text-light mx-1"></i>
              Records
            </a>
          </li>
      {% endif %}
      {% if user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}" class="nav-link text-white">
            <i class="fa-solid fa-lock text-light mx-1"></i>
            Admin
          </a>
        </li>
      {% endif %}
    </ul>
    <hr>
    {% if user.is_authenticated %}
        <div class="m-2">
        <a href="{% url 'account_logout' %}" class="d-flex align-items-center text-white text-decoration-none">
            <strong><i class="fa-solid fa-right-from-bracket mx-1"></i>Logout</strong>
        </a>
        </div>
    {% endif %}
  </div>
