<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID Number</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth </th>
        <th scope="col">Ward</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ patient.patient_id_number }}</th>
        <td>{{ patient.first_name }}</td>
        <td>{{ patient.last_name }}</td>
        <td>{{ patient.date_of_birth }}</td>
        <td>{{ patient.ward }}</td>
      </tr>
    </tbody>
</table>